<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-info-heading" jhiTranslate="teleCheckApp.userInfo.home.createOrEditLabel">Create or edit a User Info</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userInfo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userInfo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teleCheckApp.userInfo.userid" for="field_userid">Userid</label>
                    <input type="number" class="form-control" name="userid" id="field_userid"
                        [(ngModel)]="userInfo.userid" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teleCheckApp.userInfo.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="userInfo.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teleCheckApp.userInfo.isregister" for="field_isregister">Isregister</label>
                    <input type="text" class="form-control" name="isregister" id="field_isregister"
                        [(ngModel)]="userInfo.isregister" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teleCheckApp.userInfo.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="userInfo.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teleCheckApp.userInfo.logintime" for="field_logintime">Logintime</label>
                    <input type="text" class="form-control" name="logintime" id="field_logintime"
                        [(ngModel)]="userInfo.logintime" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teleCheckApp.userInfo.username" for="field_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_username"
                        [(ngModel)]="userInfo.username" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teleCheckApp.userInfo.firstname" for="field_firstname">Firstname</label>
                    <input type="text" class="form-control" name="firstname" id="field_firstname"
                        [(ngModel)]="userInfo.firstname" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teleCheckApp.userInfo.lastname" for="field_lastname">Lastname</label>
                    <input type="text" class="form-control" name="lastname" id="field_lastname"
                        [(ngModel)]="userInfo.lastname" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teleCheckApp.userInfo.isimage" for="field_isimage">Isimage</label>
                    <input type="text" class="form-control" name="isimage" id="field_isimage"
                        [(ngModel)]="userInfo.isimage" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teleCheckApp.userInfo.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                        [(ngModel)]="userInfo.remark" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teleCheckApp.userInfo.portrait" for="field_portrait">Portrait</label>
                    <div>
                        <img [src]="'data:' + userInfo.portraitContentType + ';base64,' + userInfo.portrait" style="max-height: 100px;" *ngIf="userInfo.portrait" alt="userInfo image"/>
                        <div *ngIf="userInfo.portrait" class="form-text text-danger clearfix">
                            <span class="pull-left">{{userInfo.portraitContentType}}, {{byteSize(userInfo.portrait)}}</span>
                            <button type="button" (click)="clearInputImage('portrait', 'portraitContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_portrait" (change)="setFileData($event, userInfo, 'portrait', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="portrait" id="field_portrait"
                        [(ngModel)]="userInfo.portrait" />
                    <input type="hidden" class="form-control" name="portraitContentType" id="field_portraitContentType"
                        [(ngModel)]="userInfo.portraitContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
